<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>王雅茹~I Love You</title>

<style type="text/css">
@font-face {
	font-family: digit;
	src: url('digital-7_mono.ttf') format("truetype");
}
</style>

	<link href="/css/default.css" type="text/css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet" >
</head>

<body>

<div id="mainDiv">
	<div id="content" >
		<div id="code" >
			<span class="comments">/**</span><br />
			<span class="space" /><span class="comments">*2014—08-02,</span><br />
			<span class="space"/><span class="comments">*2014-08-02.</span><br />
			<span class="space"/><span class="comments">*/</span><br />
			Boy name = <span class="keyword">Mr</span> SU<br />
			Girl name = <span class="keyword">Mrs</span> WANG<br />
			<span class="comments">// Meeting each other. </span><br />
			That day, the boy met the girl.<br />
			<span class="comments">// Fall in love river.</span><br />
			She was so moving that she attracted the boy,<br />
			From then on, the boy put her in the bottom of my heart.<br/>
			<span class="comments">// AS time goes on.</span><br />
			The boy was so timid that he had never expressed his thoughts to her.<br />
			<span class="comments">// At the same time.</span><br />
			With the passage of time, the boy thought, and would rather be <span class="keyword">fault than miss;</span><br />
			<span class="comments">// Catch one's heart, never be apart.</span><br />
			So <span class="keyword">the boy</span> summoned up his courage and wrote the passage, hoping that <span class="keyword">she </span>would see it.
			<br>
			<br>
			I want to say:<br />
			Baby, I will love you forever;<br />
			<br>

			<button type="button" class="btn btn-primary" onclick="showLoveLetter()">点我查看中文情书</button>
		</div>
		<div id="loveHeart">
			<canvas id="garden"></canvas>
			<div id="words">
				<div id="messages">
					亲爱的，这是我们相识的时光。
					<div id="elapseClock"></div>
				</div>
				<div id="loveu">
					爱你直到永永远远。<br/>
					<div class="signature">- scx</div>
				</div>
			</div>
		</div>
	</div>
	<div id="copyright">
		<a href="#">....</a><br />
		<a href="#">....</a><br />
	</div>
</div>

<div id="loveLetter" style="display: none">
	<span class="comments">// 前面的话.</span><br />
	妹妹，说实话情书我真不知道怎么写，那么我就把我心里所想写写吧！<br/>
	<span class="comments">// 回忆.</span><br />
	2014年我们刚刚加入软工交流群时，记得要爆照，然后就认识你了。<br/>
	照片里的你很好看呢，好像是在OPPO店里拍的照片。<br/>
	然后我们就经常和你聊天，觉得和你聊天很舒服啊，就想和你多说话<br/>
	<span class="comments">// 开学啦.</span><br />
	后来开学了第一次见面，还记得你穿的带点红色的格子衫。哈哈，记忆力不错吧。<br/>
	就经常找着和你聊天啦，不过那时候(军训期间)你好像和李彬彬聊的火热，我也就不好意思再和你多说话了～就想着朋友呗<br/>
	<span class="comments">// 机会来了</span><br/>
	不过后来你们分手了，就又能找你出去耍，第一次亲你是在华锐操场，应该是我先说的喜欢你吧，然后我们就成了男女朋友关系<br/>
	<span class="comments">// 时光</span><br/>
	晚上经常出来转啊，我占点便宜啊～哈哈<br/> 那时候就觉得能和你在一起真好～<br/>
	还有一次我们在新玛特那边，你说结婚了要买戒指，我就说买戒指多贵啊，还没有我给你编一个的诚意好～结果你生气了……<br/>
	其实你仔细想想，如果结婚了能是草戒指吗～<br/>
	<span class="comments">// 后来</span><br/>
	后来  后来  就分手了  那时候我好伤心的⊙﹏⊙  完全不知道原因  <br/>
	后来才发现原来你觉得我对所有女孩都是那般好，然后我说你没谁谁谁好 <br/>
	可是你在我心中的地位和别的女孩又不一样  我不会主动找她们聊天啊 <br/>
	可能我不会哄女孩子吧   什么都不会说  我一直都相信一切我经历的都是我应该经历的  <br/>
	中间我们断断续续的联系着  直到我约你再也约不出来  你总有各种原因不出来  甚至约你都有了恐惧感   那时候我就想  我也该死心了吧<br/>
	<span class="comments">// 现在</span>
	大三我们的联系好像又多了起来，直到上次你说你想买个手机，我就想着给你买一个吧。<br/>
	其实我并不是舍不得钱，而是觉得钱要花在应该花的地方,不过后来还是被你拒绝了。<br/>
	<span class="comments">// 未来</span>
	我一直都想找个一个女孩，找到一个能一起生活的女孩。<br/>
	虽然我不善言辞，可是我的内心里可以全部都是她。她，我希望是你。<br/>
</div>
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/garden.js"></script>
<script type="text/javascript" src="/js/functions.js"></script>
<script type="text/javascript">
var offsetX = $("#loveHeart").width() / 2;
var offsetY = $("#loveHeart").height() / 2 - 55;
var together = new Date();
together.setFullYear(2014, 7, 10);
together.setHours(20);
together.setMinutes(0);
together.setSeconds(0);
together.setMilliseconds(0);

if (!document.createElement('canvas').getContext) {
	var msg = document.createElement("div");
	msg.id = "errorMsg";
	msg.innerHTML = "Your browser doesn't support HTML5!<br/>Recommend use Chrome 14+/IE 9+/Firefox 7+/Safari 4+"; 
	document.body.appendChild(msg);
	$("#code").css("display", "none")
	$("#copyright").css("position", "absolute");
	$("#copyright").css("bottom", "10px");
	document.execCommand("stop");
} else {
	setTimeout(function () {
		startHeartAnimation();
	}, 5000);

	timeElapse(together);
	setInterval(function () {
		timeElapse(together);
	}, 500);

	adjustCodePosition();
	$("#code").typewriter($("#code").html());
}
function showLoveLetter() {
    $("#code").typewriter($("#loveLetter").html());
}
</script>
</body>
</html>